

.flex-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px,2fr));
}

.div{
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  float: center;
  margin-bottom: 40px;
}


img{
    width: 60%;
    height: auto;
    min-width: 300px;
    outline-style: double;
    outline-width: 20px;
}


@media screen and (min-width: 1800px){
  .flex-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(800px,2fr));
  }
  
}

@media screen and (min-width: 2800px){
  .flex-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1200px,2fr));
  }
  
}

  
  
  
  @media screen and (max-width: 800px){

  .dropbtn{
    font-size: 14px;

  }

  .flex-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px,2fr));
  }
  

}
  
  
  @media screen and (max-width: 600px){
  .dropbtn{
    font-size: 14px;

  }
  }
  
  @media screen and (max-width: 314px){
  .dropbtn{
    font-size: 12px;

  }
  }
  @media screen and (max-width: 450px){

    .flex-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px,2fr));
    }
    
    }

    @media screen and (max-width: 350px){

      img{
        min-width: 100px;
        width: 70%;
      }
      
      }
@media screen and (max-width: 390px){
  .dropbtn{
    font-size:11px;
    padding-left: 0px;
    padding-right: 0px;
  }

}
